*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    
}

html, body{
    height: 100%;
    width: 100%;
    
}

.fib{
    margin-left: 10%;
    padding: 1%;
    width: 10%;
}

.title{
    margin-top: 3%;
}

.header, .input{
    padding: 5%;
}

.input-tab{
    margin-top: -3%;
}

.input{
    margin-top: -10%;
}

.button{
    background-color: blue;
    color: white;
    width: 1.5%;
    height: 2%;
   
}

.button:hover{
    cursor: pointer;
}


  